  body {
    margin: 0 auto;
    padding: 15px;
  }

  li.borderless {
    border: none !important;
  }

  .background {
    background-image: url('../img/upbb_logo.png');
    background-size: 250px;
    background-repeat: no-repeat;
    background-position: center;
  }

  .utama {
    border: 1px solid #dee2e6;
    padding-left: 3rem;
    padding-right: 3rem;
    padding-top: 1.5rem;
    padding-bottom: 3rem;
  }

  .title {
    margin-bottom: 1rem;
  }

  .con-img {
    padding-top: 0.25rem !important;
    padding-bottom: 0.25rem !important;
    border-left: 1px solid #dee2e6 !important;
    border-top: 1px solid #dee2e6 !important;
    border-bottom: 1px solid #dee2e6 !important;
  }

  .ava {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
  }

  .data-main {
    border-top: 1px solid #dee2e6;
    border-bottom: 1px solid #dee2e6;
    border-right: 1px solid #dee2e6;
  }

  .side {
    display: none;
  }

  .material-icons.md-dark { color: rgba(0, 0, 0, 0.7); }

  .foto {
    width: 50% !important;
  }

  @media (max-width: 767.98px) {
    .login {
      display: none;
    }

    .profile {
      display: none;
    }

    .span-offset {
      display: none;
    }

    .utama {
      border: none !important;
      padding-left: 0 !important;
      padding-right: 0 !important;
      padding-top: 0 !important;
    }

    .sub-judul {
      display: none;
    }

    .title {
      margin-bottom: 0 !important;
      padding-top: 1rem;
      padding-bottom: 1rem;
    }

    .span-offset {
      display: none;
    }

    .list-group-item h5 {
      font-size: 10px !important;
    }

    .data li {
      padding: 0 !important;
    }

    .judul li {
      padding: 0 !important;
    }

    .data-main {
      padding-bottom: 0.5rem !important;
      border: 1px solid #dee2e6;
    }

    .foto {
      width: 80% !important;
    }

    .con-img {
      padding-top: 0 !important;
      padding-bottom: 0 !important;
    }

    .side {
      display: inline;
    }

    .sidebar {
      position: relative;
      top: 30%;
      transform: translateY(-30%);
    }

    .overlay {
      position: fixed;
      width: 0;
      height: 0;
      overflow: hidden;
      top: 0;
      left: 0;
      background-color: #ffffff !important;
      z-index: 1;
      opacity: 0;
      transition: 0.5s;
      padding-top: 5%;
    }

    .overlay:target {
      opacity: 1;
      width: auto;
      height: auto;
      right: 0;
      bottom: 0;
      z-index: 3;
    }

    .aktif {
      display: inline;
    }
  }